@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

[data-theme='dark'] {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .glass {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }

  .glass-dark {
    @apply bg-black/5 backdrop-blur-md border border-white/5;
  }
}
